.top {
    height: 100px;

    border-color: rgb(15, 201, 108);
    border-width: 10px;
    border-style: solid;
    z-index: 1;
}

.icon_1 {
    position: absolute;
    left: 370px;
    top: 5px;
    width: 70px;
    height: 70px;
    z-index: 4;
}

.themeColorIndex {
    position: absolute;

    left: 487px;
    right: 0px;
    width: auto;
    height: 80px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    background-color: rgb(148, 156, 30);
    z-index: 2;
}

.top_right {
    position: absolute;
    top: 10px;
    left: 500px;
    right: 0px;
    width: auto;
    height: 60px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background-color: rgb(15, 201, 108);
    z-index: 3;
}

.themeColorIntro {
    position: absolute;

    left: 487px;
    right: 0px;
    width: auto;
    height: 80px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    background-color: rgb(88, 218, 235);
    z-index: 2;
}

.themeColorExp {
    position: absolute;

    left: 487px;
    right: 0px;
    width: auto;
    height: 80px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    background-color: rgb(211, 76, 76);
    z-index: 2;
}

.themeColorFund {
    position: absolute;

    left: 487px;
    right: 0px;
    width: auto;
    height: 80px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    background-color: rgb(78, 218, 90);
    z-index: 2;
}

.themeColorContact {
    position: absolute;

    left: 487px;
    right: 0px;
    width: auto;
    height: 80px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    background-color: rgb(83, 52, 218);
    z-index: 2;
}
