.column {
    display: flex;
    width: 50%;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.bigword {
    position: absolute;
    font-size: 30px;
    left: 20px;
    top: 200px;
    color: white;

}
