.img {
    background-image: url(../img/me.jpeg);
    background-position-x: -150px;
    background-position-y: -100px;
    width: 40px;
    height: 60px;
}

.red:hover {
    color: yellow;
    background-color: violet;
    border-color: violet;
}

:root {
    --top: 100px;
}

.bar {
    position: absolute;
    left: 500px;
    top: var(--top);
}

.button {
    background-color: #4CAF50;
    height: 30px;
    width: 100px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background: url(../index.html);
}
