.draggable {
    width: 90px;
    height: 90px;
    padding: 0.5em;
    float: left;
    margin: 0 10px 10px 0;
}

#containment-wrapper {
    width: 95%;
    height: 150px;
    border: 2px solid #ccc;
    padding: 10px;
}

:root {
    --top: 80px;
    --left: 20px;
}

.move {
    /* position: absolute; */
    top: var(--top);
    left: var(--left);
}