.middle {
    position: absolute;
    left: 290px;
    right: auto;
    top: 100px;
}

.middle_button {
    position: absolute;
    left: 450px;
    right: auto;
    top: 300px;
}

.leave:hover {
    background-color: rgb(216, 42, 178);
    color: yellow;
}

.enter:hover {
    background-color: red;
    color: blue;
}
